IBM Data Science Project

In [13]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.18.1-py_0 conda-forge

geographiclib- 100% |################################| Time: 0:00:00  23.99 MB/s
geopy-1.18.1-p 100% |################################| Time: 0:00:00  38.04 MB/s
Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    altair:  2.2.2-py35_1 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge

altair-2.2.2-p 100% |################################| Time: 0:00:00  55.59 MB/s
branca-0.3.1-p 100% |################################| Time: 0:00:00  33.47 MB/s
vincent-0.4.4- 100% |################################| Time: 0:00:00  39.82 MB/s
folium-0.5.0-p 100% |################################| Time: 0:00:00  50.43 MB/s
Folium installed
Libraries imported.

In [157]:
df = pd.read_csv('https://raw.githubusercontent.com/AxelKreitler/Coursera_Capstone/master/ar.csv')
df2 = pd.DataFrame(df)
df2.head()
#we get the info of the cities in argentina

,city,lat,lng,country,iso2,admin,capital,population,population_proper
0,Buenos Aires,-34.606389,-58.435278,Argentina,AR,"Buenos Aires, Ciudad Autónoma de",primary,12795000.0,10929146.0
1,Córdoba,-31.413496,-64.181052,Argentina,AR,Córdoba,admin,1452000.0,1296935.0
2,Rosario,-32.946818,-60.639317,Argentina,AR,Santa Fe,minor,1203000.0,986569.0
3,Mendoza,-32.890845,-68.827171,Argentina,AR,Mendoza,admin,893000.0,762630.0
4,San Miguel de Tucumán,-26.824144,-65.222600,Argentina,AR,Tucumán,admin,830000.0,527607.0

In [158]:
#Lets rename
df2.columns = ['CITY', 'LATITUDE', 'LONGITUDE','COUNTRY','COUNTRY_CODE','PROVINCIA','TYPEOFCITY','POPULATION','POPPROPER']
df2.head()

,CITY,LATITUDE,LONGITUDE,COUNTRY,COUNTRY_CODE,PROVINCIA,TYPEOFCITY,POPULATION,POPPROPER
0,Buenos Aires,-34.606389,-58.435278,Argentina,AR,"Buenos Aires, Ciudad Autónoma de",primary,12795000.0,10929146.0
1,Córdoba,-31.413496,-64.181052,Argentina,AR,Córdoba,admin,1452000.0,1296935.0
2,Rosario,-32.946818,-60.639317,Argentina,AR,Santa Fe,minor,1203000.0,986569.0
3,Mendoza,-32.890845,-68.827171,Argentina,AR,Mendoza,admin,893000.0,762630.0
4,San Miguel de Tucumán,-26.824144,-65.222600,Argentina,AR,Tucumán,admin,830000.0,527607.0

In [159]:
#Lets drop useless info
df2 = df2.drop(['COUNTRY','COUNTRY_CODE','PROVINCIA','TYPEOFCITY','POPPROPER'], axis=1)
df2.head()

                    CITY   LATITUDE  LONGITUDE  POPULATION
0           Buenos Aires -34.606389 -58.435278  12795000.0
1                Córdoba -31.413496 -64.181052   1452000.0
2                Rosario -32.946818 -60.639317   1203000.0
3                Mendoza -32.890845 -68.827171    893000.0
4  San Miguel de Tucumán -26.824144 -65.222600    830000.0

In [160]:
#We said that we will not include cities with population lower than 25000
df3 = df2[df2['POPULATION'] > 25000]
#df3
df3.shape

(80, 4)

In [161]:
CLIENT_ID = 'B1JM2GWVGTFWSEWO5YYUCKILCT1VDMFEO3GK1Y52BBLN1R01' # your Foursquare ID
CLIENT_SECRET = 'G4QZ4ZRSR01ER2GMD1RVYKM24MWC10OIKNC1AA3RIQ1XVSFU' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30000
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: B1JM2GWVGTFWSEWO5YYUCKILCT1VDMFEO3GK1Y52BBLN1R01
CLIENT_SECRET:G4QZ4ZRSR01ER2GMD1RVYKM24MWC10OIKNC1AA3RIQ1XVSFU

In [162]:
#Old test
#address = 'cordoba'
#geolocator = Nominatim(user_agent="foursquare_agent")
#location = geolocator.geocode(address)
#latitude = location.latitude
#longitude = location.longitude
#search_query = 'cafe'
#url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, LIMIT)
#results = requests.get(url).json()
#venues = results['response']['venues']
#dataframe = json_normalize(venues)
#dataframe.shape[0]

In [163]:
df3['COFFEESHOPS'] = ''
df3['RATECOFFEE'] = ''
df3.head()

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,CITY,LATITUDE,LONGITUDE,POPULATION,COFFEESHOPS,RATECOFFEE
0,Buenos Aires,-34.606389,-58.435278,12795000.0,,
1,Córdoba,-31.413496,-64.181052,1452000.0,,
2,Rosario,-32.946818,-60.639317,1203000.0,,
3,Mendoza,-32.890845,-68.827171,893000.0,,
4,San Miguel de Tucumán,-26.824144,-65.222600,830000.0,,

In [167]:
t=0

for row in df3['CITY']:
    address = row
    radius = 5000
    geolocator = Nominatim(user_agent="foursquare_agent")
    location = geolocator.geocode(address)
    latitude = df3.loc[t,'LATITUDE']
    longitude = df3.loc[t,'LONGITUDE']
    search_query = 'cafe'
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
    results = requests.get(url).json()
    venues = results['response']['venues']
    # tranform venues into a dataframe
    dataframe = json_normalize(venues)
    df3.loc[t,'COFFEESHOPS']=dataframe.shape[0]
    df3['RATECOFFEE']=df3['COFFEESHOPS']/df3['POPULATION']
    t=t+1
    
df3.head()

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CITY,LATITUDE,LONGITUDE,POPULATION,COFFEESHOPS,RATECOFFEE
0,Buenos Aires,-34.606389,-58.435278,12795000.0,50,0.000004
1,Córdoba,-31.413496,-64.181052,1452000.0,50,0.000034
2,Rosario,-32.946818,-60.639317,1203000.0,50,0.000042
3,Mendoza,-32.890845,-68.827171,893000.0,50,0.000056
4,San Miguel de Tucumán,-26.824144,-65.222600,830000.0,50,0.000060

In [168]:
df4 = df3.sort_values(['RATECOFFEE'], ascending=[False])
df4

,CITY,LATITUDE,LONGITUDE,POPULATION,COFFEESHOPS,RATECOFFEE
49,Las Heras,-32.852730,-68.828373,66663.0,50,0.000750
55,Ushuaia,-54.800000,-68.300000,58028.0,15,0.000258
28,San Carlos de Bariloche,-41.140293,-71.301369,95394.0,22,0.000231
47,Villa Carlos Paz,-31.424138,-64.497778,69451.0,13,0.000187
41,Necochea,-38.547259,-58.736753,80478.0,15,0.000186
30,Villa María,-32.407514,-63.240161,92453.0,16,0.000173
26,San Rafael,-34.617717,-68.330066,109163.0,16,0.000147
12,Posadas,-27.367077,-55.896078,357119.0,45,0.000126
34,Pergamino,-33.889949,-60.573568,87652.0,11,0.000125
68,Alta Gracia,-31.652925,-64.428259,40384.0,5,0.000124
39,Luján,-34.570278,-59.105000,81749.0,10,0.000122
62,Villa Mercedes,-33.674359,-65.461405,49345.0,6,0.000122
9,San Juan,-31.537500,-68.536389,447048.0,50,0.000112
73,Río Grande,-53.787686,-67.709455,31095.0,3,0.000096
50,Puerto Madryn,-42.769201,-65.038513,64555.0,6,0.000093
6,Mar del Plata,-38.002278,-57.557539,555897.0,50,0.000090
57,General Pico,-35.656622,-63.756815,57029.0,5,0.000088
69,Bell Ville,-32.625906,-62.688730,35105.0,3,0.000085
37,Junín,-34.583816,-60.943318,85007.0,7,0.000082
35,Olavarría,-36.892715,-60.322540,86320.0,7,0.000081
78,Dolores,-36.313215,-57.679185,25190.0,2,0.000079
23,Comodoro Rivadavia,-45.864135,-67.496558,140850.0,11,0.000078
7,Salta,-24.785896,-65.411664,512686.0,39,0.000076
61,Mercedes,-34.651455,-59.430676,52949.0,4,0.000076
29,Trelew,-43.250075,-65.313295,93442.0,7,0.000075
18,Neuquén,-38.951606,-68.059102,242092.0,18,0.000074
40,Campana,-34.168742,-58.959140,81612.0,6,0.000074
5,La Plata,-34.921454,-57.954533,694253.0,49,0.000071
8,Santa Fe,-31.629484,-60.701036,489505.0,34,0.000069
44,General Roca,-39.033333,-67.583333,73212.0,5,0.000068
...,...,...,...,...,...,...
77,Rawson,-43.300158,-65.102280,26335.0,1,0.000038
60,Río Tercero,-32.173008,-64.114055,53389.0,2,0.000037
59,Azul,-36.776976,-59.858539,53941.0,2,0.000037
76,Coronel Suárez,-37.454671,-61.933429,27000.0,1,0.000037
19,Formosa,-26.177534,-58.178139,221383.0,8,0.000036
1,Córdoba,-31.413496,-64.181052,1452000.0,50,0.000034
71,Chacabuco,-34.641667,-60.473889,34587.0,1,0.000029
45,Venado Tuerto,-33.745564,-61.968845,72340.0,2,0.000028
10,San Luis,-33.295012,-66.335627,432310.0,10,0.000023
66,Tres Arroyos,-38.373939,-60.279781,47136.0,1,0.000021
58,Chivilcoy,-34.895661,-60.016667,54514.0,1,0.000018
54,San Pedro,-24.231266,-64.866141,58430.0,1,0.000017
24,San Martín,-33.081031,-68.468138,117399.0,2,0.000017
53,San Francisco,-31.427971,-62.082656,59062.0,1,0.000017
43,San Ramón de la Nueva Orán,-23.133980,-64.324645,74059.0,1,0.000014
38,Presidencia Roque Sáenz Peña,-26.785221,-60.438761,81879.0,1,0.000012
25,Santa Rosa,-36.616667,-64.283333,111424.0,1,0.000009
17,Paraná,-31.731967,-60.523802,262295.0,2,0.000008
0,Buenos Aires,-34.606389,-58.435278,12795000.0,50,0.000004
75,Villa Ángela,-27.573828,-60.715264,30051.0,0,0.000000
74,Mercedes,-29.181858,-58.078951,30649.0,0,0.000000
72,Gualeguay,-33.141559,-59.309657,33120.0,0,0.000000
46,Goya,-29.140030,-59.262564,72304.0,0,0.000000
70,Nueve de Julio,-35.444374,-60.883131,34718.0,0,0.000000
67,Empalme Villa Constitución,-33.260375,-60.379394,44271.0,0,0.000000
51,Tartagal,-22.516365,-63.801314,60819.0,0,0.000000
63,Libertador General San Martín,-23.806443,-64.787574,49267.0,0,0.000000
31,Reconquista,-29.150000,-59.650000,90184.0,0,0.000000
56,Punta Alta,-38.875875,-62.073589,57209.0,0,0.000000
65,San Lorenzo,-28.133061,-58.767331,47626.0,0,0.000000

In [169]:
df4.shape

(80, 6)